<!DOCTYPE HTML>
<html>
  <style>
    h1{
      font-family: Raleway;
    }
  </style>
  <head><title></title></head>
  <body>
    <center><h1>Error:404! Page not found!</h1></center>
  </body>
</html>
