<!DOCTYPE HTML>
<html>
  <style>
    h1{
      font-family: Raleway;
    }
  </style>
  <head><title></title></head>
  <body>
    <center><h1>Thank you!</h1><h1>Your message will be sent to your friend</h1></center>
  </body>
</html>
