<!DOCTYPE HTML>
<html>
  <head><title></title></head>
  <body>
    <div class = "row">
     <center>
       <div class = "banner1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <img src="{{templateImage}}">
       </div>
     </center>
    </div>
    <div class = "row">
      <center>
        <div class = "message col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Happy {{occ}} {{name}}!</h1>
          <h1>On this most joyous of occasions, we spent some time with your friends and put together a little surprise for you.</h1>
          <h1>So click away to experience the gift of a lifetime!</h1>
          <a href={{link}} >CLICK HERE</a>
        </div>
      </center>
    </div>
  </body>
</html>
